html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
img {
    height: auto;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
a {
    background-color: transparent;
}
b,
strong {
    font-weight: bolder;
}
small {
    font-size: 80%;
}
img {
    border-style: none;
}
button,
input,
select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
[type="button"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
[hidden] {
    display: none;
}
* {
    box-sizing: border-box;
}
body {
    background: #dadde1;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #050505;
}
.d-flex {
    display: flex;
}
.pt {
    padding-top: 13px;
}
.pb {
    padding-bottom: 13px;
}
.main {
    max-width: 700px;
    background: #fff;
    margin: 0 auto;
    padding: 0 15px;
}
.global_bg img {
    width: 100%;
}
.global_bg {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    line-height: 0;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #3b5998;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin-bottom: -7px;
}
.header-nav {
    justify-content: stretch;
    align-items: center;
}
.btn-nav {
    background: #ebedf0;
    padding: 10px;
    margin: 0 4px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.btn-nav:nth-child(1) {
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    background: #3578e5;
    margin-left: 0;
}
.btn-nav:nth-child(3) {
    margin-right: 0;
}
.btn-nav:nth-child(1) img {
    max-width: 18px;
    margin-right: 5px;
}
.btn-nav:nth-child(2) img {
    max-width: 18px;
}
.btn-nav:nth-child(3) img {
    max-width: 18px;
}
.btn-nav:nth-child(2),
.btn-nav:nth-child(3) {
    flex-basis: 16.67%;
}
.contact {
    color: white;
    font-size: 14px;
}
.header-status {
    color: #90949c;
}
#back-icon img {
    width: 100%;
}
#back-icon {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 17px;
}
#title {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
#cover img {
    width: 100%;
}
.person {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.person-inner-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ava {
    border-radius: 100%;
    overflow: hidden;
    background: url("../images/ava.jpeg") #dadde1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}
.ava.big {
    width: 64px;
    height: 64px;
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
}
.ava.small {
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    margin-right: 7px;
}
.info {
    position: relative;
    width: max-content;
}
.info-small {
    position: relative;
    width: max-content;
}
.info:before {
    content: "";
    background: url("../images/33ba6f73a4ea448ee53f5d6d5bb70533fbe695af.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    right: -13px;
}
.page_type,
.like {
    color: #90949c;
    font-size: 12px;
    margin-top: 4px;
}
.person-inner-right {
    margin: 0 16px;
}
.person-inner-right img {
    max-width: 23px;
    margin: 0 auto;
    display: block;
}
hr {
    border: 0;
    color: #dadde1;
    background-color: #dadde1;
    height: 2px;
    margin: 0;
}
.point {
    color: #90949c;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    top: -3px;
}
.globe:after {
    content: "";
    background: url("../images/3877907a56d8f268e2af73fe1de943263784e768.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: -13px;
}
#state_close {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
    color: gray;
    margin: 23px -15px;
}
#state_close_prev {
    background: white;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
    color: gray;
    margin: -24px -15px 18px -15px;
}
#state_close_prev img {
    width: 21px;
}
#state_close_prev img:nth-child(2) {
    position: relative;
    left: -9px;
}
@media screen and (max-width: 320px) {
    .info:before {
        display: none;
    }
}
@media screen and (max-width: 340px) {
    .like-hidden {
        display: none;
    }
}
#comments_component {
    margin: 0 0 0 -7px;
    font-family: sans-serif;
    padding-bottom: 15px;
}
#comments_component .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0;
}
#comments_component .component_ava {
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 10px 0 0;
}
#comments_component .component_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 0 5px 0;
}
#comments_component .component_info_inner {
    background-color: #ebedf0;
    border-radius: 18px;
    display: inline-block;
    line-height: 16px;
    margin-top: 0;
    min-width: 0;
    overflow: hidden;
    padding: 6px 12px 7px 12px;
}
#comments_component .component_name {
    color: #000;
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 3px 3px;
    text-decoration: none;
}
#comments_component .component_licked {
    position: relative;
    bottom: 3px;
    left: 0;
    display: flex;
}
.component_body {
    width: 100%;
}
.component_reposy {
    color: #929292;
    font-weight: 600;
    font-size: 12px;
    margin: 6px 0 0 12px;
    display: flex;
    flex-wrap: wrap;
}
.component_reposy b {
    font-weight: 100;
    word-spacing: 0 !important;
    color: #757575;
}
.component_licked {
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0 #dadde1;
    color: #909192;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-left: -10px;
    padding-right: 4px;
    transform: translateY(-6px);
    z-index: 5;
}
#comments_component a {
    font-weight: 600;
    text-decoration: none;
    color: #232323;
}
.icons {
    white-space: nowrap;
    display: flex;
    margin: 0;
}
.l {
    background-position: -51px -266px;
    z-index: 4;
}
.s {
    background-position: -68px -266px;
    margin-left: -6px;
}
.component_name,
.component_reposy {
    cursor: pointer;
}
.component_name:hover,
.component_text a:hover,
.component_reposy nav:hover {
    text-decoration: underline !important;
}
.component_reposy nav {
    display: inline;
    margin: 0 0 0 16px;
    font-weight: 600;
}
.user_request .component_ava {
    margin-left: 46px !important;
}
#comments_component .user_request .component_ava {
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 10px 0 0;
}
#comments_component p {
    margin: 0;
}
#comments_component .component_name,
#comments_component .component_text,
#comments_component .component_reposy,
.component_licked span {
    font-style: normal;
}
#form-wrap {
    max-width: 400px;
    margin: 0 auto;
}
#product-bg-wrap {
    margin: -10px 0 -130px 0;
    width: 100%;
}
#product-bg {
    display: block;
    text-align: center;
    margin: 0 auto;
}
product-bg:before {
    content: "";
    position: absolute;
    background: url("../images/f8e761b2ff69af566e6ef70fd5112f0725ced194.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 147px;
    height: 102px;
    left: 80%;
    top: 34%;
    transform: translate(-50%, -50%);
}
#product-bg img {
    width: 100%;
}
#form {
    max-width: 100%;
    box-shadow: 0 4px 20px 20px #00000026;
    border-radius: 5px;
}
#form {
    max-width: 400px;
    margin: 0 auto;
}
#form input,
#form select,
#form button,
#form label,
#form form {
    width: 100%;
}
#form form {
    padding: 130px 15px 25px 15px;
    display: flex;
    flex-direction: column;
}
#form label {
    text-align: center;
}
#form .example {
    text-align: left;
    font-size: 13px;
    color: #969696;
}
#form .example em {
    color: #000;
}
#form button {
    text-transform: uppercase;
}
#form .discount {
    font-size: 40px;
    color: #d84949;
}
#form .timeleft {
    font-size: 12px;
    color: #484848;
    padding: 6px 0;
}
#form .timer {
    font-size: 38px;
    color: #4b4550;
    letter-spacing: -3px;
    font-weight: 600;
}
#form .hours {
    font-size: 14px;
    color: #c5c5c5;
    font-weight: 600;
}
#form #price {
    margin: 10px auto;
    display: flex;
    font-size: 32px;
    flex-wrap: wrap;
    justify-content: center;
}
#form #price #price-old,
#form #price #price-new {
    margin: 0 5px;
}
#form #price #price-new {
    color: #3578e5;
}
#form #price #price-old {
    text-decoration: line-through;
    color: #bdb6b6;
}
#form form input {
    height: 70px;
    font-size: 30px;
    margin: 0 0 24px 0;
    padding-left: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: gray;
}
#form form input:focus {
    color: black;
}
.free {
    position: relative;
    top: -2.5px;
    color: #4b4550ab;
}
#form form button {
    height: 80px;
    font-size: 30px;
    background: #3578e5;
    background: linear-gradient(90deg, #041e37 0, rgba(9, 70, 121, 1) 35%, #5181b0 100%);
    color: white;
    border: 0;
}
#form form input,
#form form button {
    border-radius: 5px;
}
#form form #protection {
    display: flex;
    margin-top: 13px;
    font-size: 12px;
}
#form form #protection .protection-icon {
    background: url("../images/773530c016edcbf40a4d4a114f5db1e2f47e8c1d.png");
    min-width: 19px;
    min-height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    align-self: end;
}
#form form #protection strong {
    color: #ff000066;
}


#product-bg-wrap {
    margin: 1px 0 -130px 0;
}

@media (max-width: 650px) {
    #product-bg {
        width: 80%;
    }
}

#state img:not(.doc_block .m) {
    width: 100%;
}
#state p {
    color: #44464b;
}

.f-08 {
    font-size: 0.8rem;
}


.price {
    margin: 10px auto 20px;
    display: block;
    text-align: center
  }
  
  .price p {
    font-size: 20px;
    color: #000;
    font-weight: 700
  }
  
  .price p span {
    color: #ff416c
  }
  
  form {
    padding: 20px 25px;
    background: #fff;
    box-shadow: inset 0 0 7px #c5c5c5;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }
  
  label {
    display: block;
    font-size: 12px;
    color: #818181;
    margin-bottom: 5px;
    font-style: normal
  }
  
  body {
    color: #292b37
  }
  
  a {
    text-decoration: none
  }
  
  a:hover {
    color: #4880ed;
    cursor: pointer!important
  }
  
  h1 {
    font-size: 20px;
    font-weight: 400
  }
  
  h1 {
    line-height: 1
  }
  
  p {
    margin-bottom: 20px
  }
  
  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% center
  }
  
  .nav {
    vertical-align: top;
    line-height: 40px
  }
  
  @media (max-width:860px) {
    .nav {
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px 0 0;
      opacity: 0;
      background-color: #fff;
      text-align: center;
      visibility: hidden;
      transition: opacity .2s ease 0s, visibility .2s ease 0s;
      will-change: opacity
    }
  }
  
  @media screen and (min-width:860px) {
    .nav {
      display: inline-block
    }
  }
  
  .header {
    padding: 15px 20px;
    text-align: center
  }
  
  @media screen and (min-width:768px) {
    .header {
      text-align: left
    }
  }
  
  body {
    min-width: 320px
  }
  
  .header {
    background-image: url("../images/urn:scrapbook:download:error:https://product-landings.ams3.digitaloceanspaces.com/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover
  }
  
  @media screen and (min-width:768px) {
    .header {
      overflow: hidden
    }
  }
  
  a:hover {
    cursor: pointer!important
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }
  
  .left {
    float: left
  }
  
  
  figure,
  header,
  main,
  nav {
    display: block
  }
  
  h1 {
    font-size: 2em;
    margin: .67em 0
  }
  
  .h1,
  h1 {
    font-size: 2.25rem
  }
  
  p {
    margin: .5em 0
  }
  
  @media only screen and (max-width:640px) {
    html {
      font-size: 15px
    }
    .h1,
    h1 {
      font-size: 16px
    }
  }
  
  @media only screen and (max-width:500px) {
    html {
      font-size: 15px
    }
    .h1,
    h1 {
      font-size: 16px
    }
  }
  
  img {
    max-width: 100%;
    border: medium none
  }
  
  .head {
    background: #97bee7 none repeat scroll 0 0
  }
  
  .content {
    display: inline-block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box
  }
  
  h1 {
    font-size: 28px;
    padding-bottom: 10px
  }
  
  .content p {
    padding: 10px;
    line-height: 25px;
    text-align: justify
  }
  
  .content img {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box
  }
  
  .content .center {
    text-align: center
  }
  
  @media screen and (max-width:800px) {
    .content {
      width: 100%
    }
  }
  
  @media screen and (max-width:500px) {
    .content {
      padding: 0
    }
  }
  
  @media screen and (max-width:305px) {
    h1 {
      font-size: 20px
    }
    .content p {
      line-height: 20px;
      font-size: 15px
    }
  }
  
  @media screen and (max-width:720px) {
    .m {
      margin: auto!important;
      width: 100%
    }
  }
  
  #state {
    padding: 0 10px
  }
  
  .Figure-caption {
    display: block;
    margin: 0 0 10px
  }
  
  #state img {
    margin-bottom: 10px
  }
  
  #state p {
    margin-bottom: 10px
  }
  
  .center {
    text-align: center
  }
  

  .inL_73874 { text-align:center }
.inL_368570 { text-align:center }
.inL_526293 { max-width:95% }
.inL_749426 { margin-bottom:20px }
.inL_658744 { max-width:95% }
.inL_65343 { margin-bottom:20px }
.inL_88494 { max-width:95% }
.inL_404224 { margin-bottom:20px }
.inL_697282 { display: flex;
          flex-direction: column; }
.inL_760572 { color: red; }
.inL_961031 { text-decoration: line-through; }
.inL_986724 { cursor: pointer; }
.inL_211446 { display:block }
.inL_412683 { display:flex }
.inL_904307 { background:url("../images/73965a7e20536ffb47029c742905f547e655bad7.png") center center/cover no-repeat #ebedf0 }
.inL_681003 { display:none }
.inL_328790 { display:flex }
.inL_19610 { background:url("../images/f0dbba785118202ec2a1b0a794bfde87b8b1526a.png") center center/cover no-repeat #ebedf0 }
.inL_212410 { display:none }
.inL_283750 { display:flex }
.inL_973957 { background:url("../images/80a2cbd15c4bc2ee16d43866e8ba660cbb52be0c.png") center center/cover no-repeat #ebedf0 }
.inL_573842 { display:none }
.inL_246432 { display:flex }
.inL_245167 { background:url("../images/60d696af87e7ec36bc16cba6c5056977bb0bfcd7.png") center center/cover no-repeat #ebedf0 }
.inL_460099 { display:none }
.inL_171441 { display:flex }
.inL_78956 { background:url("../images/ava.jpeg") center center/cover no-repeat #ebedf0 }
.inL_696298 { display:none }
.inL_504628 { display:flex }
.inL_164102 { background:url("../images/a646b15d60aa5f8a833a4fd2c39a36eb24fc4723.png") center center/cover no-repeat #ebedf0 }
.inL_935888 { display:none }
.inL_525917 { display:flex }
.inL_368226 { background:url("../images/5bfeb26313809efc0e4a9a6411a29aaed7d771ed.png") center center/cover no-repeat #ebedf0 }
.inL_557471 { display:none }
.inL_414441 { display:flex }
.inL_531493 { background:url("../images/cf6856c61487e62843b7b2c2d6ea99a783a56e5f.png") center center/cover no-repeat #ebedf0 }
.inL_865829 { display:none }
.inL_316507 { display:flex }
.inL_515542 { background:url("../images/71c35f1578080f9b84371c7800e2a907107fe595.png") center center/cover no-repeat #ebedf0 }
.inL_757939 { display:none }
.inL_656728 { display:flex }
.inL_916848 { background:url("../images/cf6856c61487e62843b7b2c2d6ea99a783a56e5f.png") center center/cover no-repeat #ebedf0 }
.inL_562398 { display:none }
.inL_834923 { display:flex }
.inL_73841 { background:url("../images/f8760d2b890f399f83a0cd886c3d71f12c030218.png") center center/cover no-repeat #ebedf0 }
.inL_387413 { display:none }
.inL_796607 { display:flex }
.inL_839460 { background:url("../images/f9d557c933fbaef72883ca4c11d5893dbc48b9b4.png") center center/cover no-repeat #ebedf0 }
.inL_448875 { display:none }
.inL_840840 { display:flex }
.inL_801251 { background:url("../images/13775938851d84c4f1bdfb00a9773a5ac87bffb5.png") center center/cover no-repeat #ebedf0 }
.inL_278612 { display:none }
.inL_686616 { display:flex }
.inL_186328 { background:url("../images/c6f04e3ae97cc19f8fd0cf32444dceda075b8597.png") center center/cover no-repeat #ebedf0 }
.inL_147949 { display:none }
.inL_569453 { display:flex }
.inL_107299 { background:url("../images/036794710f3d280c86959f17b8ab38a346b1e84d.png") center center/cover no-repeat #ebedf0 }
.inL_805204 { display:none }
.inL_909484 { display:flex }
.inL_490847 { background:url("../images/add45bfc00178bf1aab274ed467e28edccfd0395.png") center center/cover no-repeat #ebedf0 }
.inL_567465 { display:none }
.inL_165031 { display:flex }
.inL_454819 { background:url("../images/5d836839ca69142e5db9f75c2b6686d903194188.png") center center/cover no-repeat #ebedf0 }
.inL_263657 { display:none }
.inL_203401 { display:flex }
.inL_665980 { background:url("../images/1ea3a92eba1a182aea1fc1ec03cb1463a0bb0d3b.png") center center/cover no-repeat #ebedf0 }
.inL_813915 { display:none }
.inL_738198 { display:flex }
.inL_411734 { background:url("../images/ava.jpeg") center center/cover no-repeat #ebedf0 }
.inL_745660 { display:none }
.inL_752977 { display:flex }
.inL_624263 { background:url("../images/1ea3a92eba1a182aea1fc1ec03cb1463a0bb0d3b.png") center center/cover no-repeat #ebedf0 }
.inL_979864 { display:none }
.inL_146653 { display:flex }
.inL_445390 { background:url("../images/ava.jpeg") center center/cover no-repeat #ebedf0 }
.inL_144036 { display:none }
.inL_239322 { display:flex }
.inL_835870 { background:url("../images/61be887116f329369dd467e8082eaa18e6be9d43.png") center center/cover no-repeat #ebedf0 }
.inL_862862 { display:none }
.inL_5361 { display:flex }
.inL_572102 { background:url("../images/d5ee12deb0f28943dae6a72201c4df877a323ed5.png") center center/cover no-repeat #ebedf0 }
.inL_528852 { display:none }
.inL_540879 { display:flex }
.inL_492662 { background:url("../images/38a7c34fc64e46bc2b6b358ed23bf99b9ce67db8.png") center center/cover no-repeat #ebedf0 }
.inL_950681 { display:none }
.inL_347823 { display:flex }
.inL_437134 { background:url("../images/7580beb4826987bd08188deab7a06c3deb6564d6.png") center center/cover no-repeat #ebedf0 }
.inL_760011 { display:none }
.inL_245266 { display:flex }
.inL_711391 { background:url("../images/ava.jpeg") center center/cover no-repeat #ebedf0 }
.inL_795347 { display:none }
.inL_731200 { display:flex }
.inL_475289 { background:url("../images/7e85a7141c5e52d890276db3daf51e49502f9aff.png") center center/cover no-repeat #ebedf0 }
.inL_949685 { display:none }
.inL_737566 { display:flex }
.inL_145615 { background:url("../images/be94876172d80758a45e48cf941b8f1957222648.png") center center/cover no-repeat #ebedf0 }
.inL_461170 { display:none }
.inL_23530 { display:flex }
.inL_963498 { background:url("../images/ava.jpeg") center center/cover no-repeat #ebedf0 }
.inL_122485 { display:none }
.inL_946529 { display:flex }
.inL_293763 { background:url("../images/737f61e1642b17ece903eab53b17819dfcb3b23c.png") center center/cover no-repeat #ebedf0 }
.inL_890374 { display:none }
.inL_387475 { display:flex }
.inL_111090 { background:url("../images/0033.png") center center/cover no-repeat #ebedf0 }
.inL_812357 { display:none }
.inL_138814 { display:flex }
.inL_959927 { background:url("../images/ava.jpeg") center center/cover no-repeat #ebedf0 }
.inL_995832 { display:none }
.x_country_select {
    display: none !important;
}
#comments_component a.component_reposy-text{
    margin: 0 5px;
    color:rgb(146, 146, 146); 
    
}
#comments_component a.component_reposy-text:hover{
    text-decoration: underline;
}
.icons .fb_licked {
    background-image: url("../images/d5452d4fb9e10cbc78fcadf492504a3085fffc89.png");
    background-size: 103px 328px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border: 2px solid #fff;
}
.icons .fb_licked {
    height: 20px;
    width: 20px;
}
.u {
    background-position: 0 -283px;
    margin-left: -6px;
    z-index: 3;
}
.l {
    background-position: -51px -266px;
    z-index: 4;
}
.s {
    background-position: -68px -266px;
    margin-left: -6px;
}

.product-img {
    max-width: 150px;
    width: 100%;
}
.comm__img {
    max-width: 350px;
    width: 100%;
    margin: 10px 0;
}
.divider {
    background-color:#ff9900;
    height: 1px;

}



.cpu{
padding: 10px 0;
text-align: center;
}
.cpu img{
display:block;
margin: 0 auto;
width: auto;
}
.cpu a{
display: inline-block;
margin: 5px;
color: #333;
font-size: 14px;
}